extends layout

block content
  div.jumbotron.my-3
    h1.display-4 イベントToDoリスト
    p.lead イベントごとのToDoリストを作り、仲間と共有できるサービスです。
    p.lead ユーザー認証はGitHubアカウントを通して行います。
  if user
    div
      a(href="/events/new").btn.btn-info イベントを作る
    - var hasEvent = events.length > 0
    //- イベントを持っているかどうかのフラグ
    if hasEvent
      h3.my-3 あなたの作ったイベント一覧
      table.table
        tr
          th イベント名
          th 更新日時
        each event in events
          //- eventsという配列をループ
          tr
            td
              a(href=`/events/${event.eventId}`) #{event.eventName}
            td #{event.formattedUpdatedAt}
